In [1]:
import ipynb.fs.full.storage as storage

WARNING:tensorflow:From C:\Users\35840\Desktop\coding\python\pipeline\training.ipynb:24: The name tf.keras.backend.set_session is deprecated. Please use tf.compat.v1.keras.backend.set_session instead.

In [2]:
regression_ensemble, classifier_ensemble, config = storage.load_pipeline('PIPELINE-1603466504')

SERIALIZING REGRESSOR LINREG_0
	FOLD 0
	FOLD 1
	FOLD 2
	FOLD 3
	FOLD 4

SERIALIZING REGRESSOR LSTM_1
	FOLD 0
	FOLD 1
	FOLD 2
	FOLD 3
	FOLD 4

SERIALIZING REGRESSOR TCN_2
	FOLD 0
	FOLD 1
	FOLD 2
	FOLD 3
	FOLD 4

SERIALIZED CLASSIFIER LOGREG_1
SERIALIZED CLASSIFIER RANDFOREST_0
SERIALIZED CLASSIFIER SVC_2

In [3]:
dataset = storage.load_pickle('extra/testset.pickle')

In [14]:
dataset['features'][0]

array([1.20108000e+00, 1.20889000e+00, 1.20044000e+00, 1.20664000e+00,
       2.10213430e+05, 9.28000000e+01, 8.87674708e+01, 9.04921736e+01,
       2.82700000e-02, 2.39907669e+00, 7.20000000e+00, 1.00306579e+02,
       1.00918490e+02, 2.09015417e-01, 1.03432454e+02, 6.92720341e+01,
       3.31488484e+06, 1.20295200e+00, 4.31978027e-03, 6.67000000e+01,
       2.11617501e-01, 1.41077212e-01, 1.54504575e-01, 2.07229837e-02,
       4.62681132e-01])

In [4]:
reg_dataset = regression_ensemble.predict(dataset)

In [5]:
reg_dataset.head(10)

   linreg_0    lstm_1     tcn_2
0  1.196712  1.172365  1.029409
1  1.200233  1.167527  1.067541
2  1.208943  1.171286  1.104700
3  1.220007  1.180508  1.102198
4  1.218342  1.214916  1.201696
5  1.225797  1.218495  1.150581
6  1.227251  1.241728  1.243631
7  1.218455  1.252777  1.204427
8  1.224784  1.244066  1.198357
9  1.223785  1.240229  1.163549

In [6]:
mash_dataset = {
    'features': reg_dataset.to_numpy(),
    'labels': []
}

In [7]:
cls_dataset = classifier_ensemble.predict(mash_dataset, show_mean=True)

In [8]:
cls_dataset.head(10)

   logreg_1  randforest_0  svc_2      mean
0         1             1      2  1.333333
1         1             1      2  1.333333
2         1             0      2  1.000000
3         1             0      2  1.000000
4         0             2      2  1.333333
5         2             0      2  1.333333
6         2             2      2  2.000000
7         2             2      2  2.000000
8         2             2      2  2.000000
9         2             0      2  1.333333

In [9]:
cls_dataset['mean'].value_counts(normalize=True)

1.333333    0.355987
1.666667    0.266990
0.666667    0.137540
1.000000    0.127832
2.000000    0.111650
Name: mean, dtype: float64