### IMPORTS

In [1]:
import ipynb.fs.full.processing as processing
import ipynb.fs.full.training as training
import ipynb.fs.full.storage as storage
import ipynb.fs.full.visualize as visualize
import ipynb.fs.full.misc as misc

In [2]:
import ipynb.fs.full.splitting as splitting
import ipynb.fs.full.table as table
import ipynb.fs.full.decide as decide

In [3]:
import ipynb.fs.full.features as features

In [4]:
import numpy as np

### SERIALIZE THE YAML CONFIG

In [5]:
config = storage.load_yaml('extra/config.yaml')

In [6]:
config

{'data': 'extra/dataset.csv',
 'processing': {'resample': True,
  'time': 'D',
  'aggregate': {'Open': 'first',
   'High': 'max',
   'Low': 'min',
   'Close': 'last',
   'Volume': 'sum'},
  'label': {'from': 'Close', 'shift': 1}},
 'features': {'category': 'all', 'window': 14},
 'splitting': {'train_split': 0.8, 'validation_folds': 5},
 'regression_ensemble': {'models': [{'linreg': None},
   {'lstm': {'morph': {'window': 4, 'batch': 30},
     'layers': [{'lstm': {'units': 120}},
      {'dropout': {'rate': 0.15}},
      {'dense': {'units': 50, 'activation': 'relu'}},
      {'dense': {'units': 1}}],
     'epochs': 15,
     'loss': 'mean_squared_error',
     'optimizer': 'rmsprop'}},
   {'tcn': {'morph': {'window': 4, 'batch': 30},
     'layers': [{'tcn': {'nb_filters': 64,
        'nb_stacks': 1,
        'dilations': [1, 2, 4, 8, 16, 32],
        'padding': 'causal',
        'use_skip_connections': False,
        'dropout_rate': 0.1,
        'return_sequences': False,
        'activation': 'relu'}},
      {'dropout': {'rate': 0.05}},
      {'dense': {'units': 50, 'activation': 'relu'}},
      {'dense': {'units': 1}}],
     'epochs': 3,
     'loss': 'mean_squared_error',
     'optimizer': 'adam'}}]},
 'classification_ensemble': {'decision': {'name': 'quantile',
   'upper': 0.75,
   'lower': 0.25},
  'models': [{'logreg': {'static': {'random_state': 0,
      'class_weight': 'balanced'}}},
   {'svc': {'static': {'decision_function_shape': 'ovo'},
     'grid_search': {'kernel': ['linear', 'rbf'], 'C': [1, 10]}}}]}}

### STEP 1: PROCESS RAW DATA TO DATAFRAME

In [7]:
dataframe = processing.create_dataframe(config)

In [8]:
dataframe.head(5)

                   Open     High      Low    Close        Volume    label
Date_Timestamp
2010-01-01      1.43327  1.43356  1.43207  1.43335  39761.000053  1.43141
2010-01-03      1.43024  1.43359  1.42951  1.43141   3001.600003  1.44244
2010-01-04      1.43143  1.44556  1.42559  1.44244  80019.400094  1.43634
2010-01-05      1.44238  1.44834  1.43445  1.43634  79887.100067  1.44005
2010-01-06      1.43638  1.44342  1.42807  1.44005  80971.800085  1.43155

### STEP 2: ADD FEATURES TO DATAFRAME

In [9]:
regression_dataset = features.add(dataframe, config['features'])

In [10]:
regression_dataset.head(5)

,open,high,low,close,volume,label,stock,stocd,stocsd,momentum,...,rsi,obv,ma,bias6,psy12,asy5,asy4,asy3,asy2,asy1
Date_Timestamp,,,,,,,,,,,,,,,,,,,,,
2010-01-21,1.41115,1.41422,1.40247,1.40979,78980.100041,1.41361,13.189189,9.578919,19.849579,-0.02655,...,29.873956,-159980.600046,1.425180,-0.012336,41.7,-0.403064,-0.471831,-0.715772,-0.637503,-0.099256
2010-01-22,1.40977,1.41805,1.40837,1.41361,76660.300037,1.41517,20.072072,13.339429,14.445538,-0.02644,...,33.983332,-83320.300009,1.420572,-0.006774,41.7,-0.323346,-0.469180,-0.334804,0.085670,0.270596
2010-01-24,1.41557,1.41705,1.41396,1.41517,3128.600004,1.41458,22.882883,18.714715,13.877688,-0.01638,...,35.641946,-80191.700005,1.415528,-0.003171,33.3,-0.353285,-0.223529,0.093878,0.190445,0.110295
2010-01-25,1.41498,1.41939,1.41248,1.41458,79577.200048,1.40808,21.819820,21.591592,17.881912,-0.02625,...,35.280916,-159768.900053,1.412868,-0.000558,33.3,-0.187163,0.059984,0.113064,0.034298,-0.041700
2010-01-26,1.41454,1.41780,1.40397,1.40808,79232.600053,1.40280,10.108108,18.270270,19.525526,-0.03823,...,31.495786,-239001.500106,1.412246,-0.002826,25.0,-0.044125,-0.030342,-0.130655,-0.251130,-0.460559

### STEP 3: SPLIT & SCALE PRIMARY DATASET

In [11]:
primary_dataset, scaler = splitting.general(regression_dataset, config['splitting']['train_split'])

### STEP 4: CREATE CROSS VALIDATION FOLDS & TRAIN REGRESSION MODELS

In [12]:
regression_ensemble = [None] * len(config['regression_ensemble']['models'])

In [13]:
# LOOP THROUGH REQUESTED MOEDLS
for index, item in enumerate(config['regression_ensemble']['models']):
    
    # MODEL PROPS
    name, settings = misc.key_value(item)
    
    # FOLD CONTAINER
    folds = []
    
    # IF THE MODEL HAS EXTRA SETTINGS
    if settings:
        folds = splitting.timeseries(
            primary_dataset['train'],
            config['splitting']['validation_folds'],
            window=settings['morph']['window']
        )
    
    # OTHERWISE
    else:
        folds = splitting.timeseries(
            primary_dataset['train'],
            config['splitting']['validation_folds']
        )
        
    # FOLD PREDICTIONS
    temp_predictions = []
    temp_labels = []
    temp_models = []
    
    # TRAIN & PREDICT WITH EACH FOLD
    for fold in folds:
        model, predictions = training.start(fold, name, settings)
        
        # APPEND TO COLLECTIONS
        temp_predictions.append(predictions)
        temp_labels.append(fold['test']['labels'])
        temp_models.append(model)
        
    # APPEND RESULTS TO ENSEMBLE
    regression_ensemble[index] = {
        'name': '{}_{}'.format(name, index),
        'predictions': np.concatenate(temp_predictions),
        'labels': np.concatenate(temp_labels),
        'models': temp_models,
        'settings': settings
    }

WARNING:tensorflow:From C:\Users\35840\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From C:\Users\35840\Anaconda3\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

### STEP 5: CONSTRUCT TABLE FOR ENSEMBLE PREDICTIONS

In [14]:
ensemble_table = table.ensemble(regression_ensemble)

In [15]:
ensemble_table.head(5)

   linreg_0    lstm_1     tcn_2    label
0  1.415415  1.517122  1.541764  1.40686
1  1.411078  1.507079  1.320315  1.41436
2  1.419329  1.508753  1.377140  1.43163
3  1.433975  1.512904  1.376547  1.42894
4  1.422772  1.496153  1.371484  1.43328

### STEP 6: CLASSIFY LABELS WITH REQUESTED METHOD

In [16]:
# BUY   = 0
# SELL  = 1
# HOLD  = 2

In [17]:
classification_dataset = decide.label({
    'predictions': ensemble_table,
    'settings': config['classification_ensemble']['decision']
})

In [18]:
classification_dataset.head(5)

   linreg_0    lstm_1     tcn_2  label
0  1.415415  1.517122  1.541764      2
1  1.411078  1.507079  1.320315      1
2  1.419329  1.508753  1.377140      1
3  1.433975  1.512904  1.376547      2
4  1.422772  1.496153  1.371484      1

#### DECISION BREAKDOWN

In [19]:
classification_dataset['label'].value_counts(normalize=True)

2    0.500483
1    0.249758
0    0.249758
Name: label, dtype: float64

### SPLIT CLASSIFIER DATAFRAME

In [20]:
secondary_dataset, scaler = splitting.general(classification_dataset, config['splitting']['train_split'])

### TRAIN THE CLASSIFIER ENSEMBLE

In [21]:
classification_ensemble = [None] * len(config['classification_ensemble']['models'])

In [22]:
for index, item in enumerate(config['classification_ensemble']['models']):
    
    # MODEL PARAMS
    name, settings = misc.key_value(item)

    # TRAIN & PREDICT WITH THE MODEL
    model, predictions = training.start(secondary_dataset, name, settings)
        
    # APPEND RESULTS TO ENSEMBLE
    classification_ensemble[index] = {
        'name': '{}_{}'.format(name, index),
        'predictions': predictions,
        'labels': secondary_dataset['test']['labels'],
        'model': model,
        'settings': settings
    }

### CREATE CLASSIFICATION TABLE

In [23]:
classification_table = table.ensemble(classification_ensemble)

In [24]:
classification_table

     logreg_0  svc_1  label
0           0      2      1
1           0      2      0
2           1      2      2
3           0      2      2
4           0      2      2
..        ...    ...    ...
409         1      2      1
410         1      2      2
411         1      2      1
412         1      2      0
413         1      2      1

[414 rows x 3 columns]

### PREDICT USING PRIMARY TEST DATA & CLASSIFIER ENSEMBLE

In [25]:
import numpy as np

In [48]:
foo_dataset = []

In [49]:
for index, item in enumerate(regression_ensemble):
    
    # PARAMS
    models = item['models']
    settings = item['settings']
    
    # RESULT CONTAINER
    all_predictions = []
    
    # LOOP THROUGH MODELS
    for model in item['models']:
        
        # PLACEHOLDER
        all_predictions = []

        # IF THE DATASET HAS TO BE MORPHED
        if settings != None and 'morph' in settings:
            
            # CREATE A WINDOWED DATASET
            windowed = splitting.windowed(
                primary_dataset,
                settings['morph']['window']
            )
        
            # CREATE A GENERATOR
            generator = splitting.generator(
                windowed,
                settings['morph'],
                shuffle=False
            )
            
            # PREDICT WITH IT
            predictions = model.predict(generator)
            
        # OTHERWISE, PREDICT AS IS
        else:
            predictions = model.predict(primary_dataset['test']['features'])
            
        # APPEND TO CONTAINER
        all_predictions.append(predictions)
            
    # CALCULATE AVERAGE PREDICTION
    average_predictions = np.ndarray.flatten(np.mean(all_predictions, axis=0))
    
    # APPEND RESULT
    foo_dataset.append(average_predictions)

In [55]:
foo_dataset[2]

array([0.952427  , 0.96110064, 0.9268561 , 0.9300386 , 0.94256794,
       0.9527898 , 0.9662841 , 0.95687383, 1.0458897 , 1.1061842 ,
       1.1492535 , 1.0720521 , 1.0669695 , 1.030001  , 0.987394  ,
       0.98650926, 0.9421344 , 0.9282774 , 1.0568801 , 1.1162877 ,
       1.0784506 , 1.0868793 , 1.0880693 , 1.0533451 , 1.0110635 ,
       1.0318277 , 1.0496094 , 1.0625324 , 1.0351976 , 1.0860819 ,
       1.159286  , 1.0777433 , 1.1180282 , 1.0856544 , 1.0988973 ,
       1.1507746 , 1.1945015 , 1.208746  , 1.1663144 , 1.05433   ,
       1.0495996 , 1.0361747 , 1.0050905 , 1.0120798 , 1.1240513 ,
       1.1313297 , 1.156934  , 1.1856443 , 1.1537558 , 1.1033417 ,
       1.1816919 , 1.2283163 , 1.1314911 , 1.021478  , 1.0102576 ,
       1.0542512 , 1.003619  , 1.0189654 , 1.0025207 , 0.9958636 ,
       1.0299578 , 1.063835  , 1.0487922 , 1.1157405 , 1.1479828 ,
       1.1595947 , 1.0966895 , 1.1414154 , 1.09712   , 1.1010128 ,
       0.9823786 , 1.068364  , 1.1214677 , 1.0789762 , 1.0642326 ,
       1.1403598 , 1.126426  , 1.1222783 , 1.1413162 , 1.1528485 ,
       1.1482121 , 1.2029932 , 1.1270654 , 1.1349031 , 1.1068362 ,
       1.1338882 , 1.0632068 , 1.0004056 , 0.9343723 , 0.95693284,
       0.95779985, 1.0046006 , 1.0283773 , 1.0652894 , 1.0619706 ,
       1.082637  , 1.1203421 , 1.0042055 , 1.0068685 , 1.09858   ,
       1.0832477 , 1.0293971 , 0.9549719 , 0.99378717, 1.0324441 ,
       1.0408752 , 1.0372095 , 0.98725957, 0.9440077 , 0.9904412 ,
       1.042309  , 1.0448375 , 0.9836055 , 0.96008116, 0.9547452 ,
       0.9604802 , 0.976557  , 1.003638  , 0.957843  , 0.967312  ,
       0.93552756, 0.924788  , 0.9610778 , 0.9956626 , 1.0018398 ,
       0.8524399 , 0.9029468 , 0.9249537 , 0.9014536 , 0.92870486,
       0.83440024, 0.8297398 , 0.82408607, 0.81663275, 0.8328922 ,
       0.8230368 , 0.83869696, 0.8294058 , 0.85915434, 0.96134096,
       0.92792714, 0.9794219 , 0.93551224, 1.0104442 , 1.0195016 ,
       0.96294296, 0.94861645, 0.99674267, 0.96259147, 0.9443336 ,
       0.90778714, 0.8992853 , 0.89983845, 0.8669239 , 0.9207965 ,
       0.82407004, 0.8141547 , 0.8027787 , 0.81563133, 0.8664452 ,
       0.8661717 , 0.8562949 , 0.9106872 , 0.875314  , 0.89617467,
       0.8912016 , 0.88027894, 0.9836697 , 1.0332155 , 1.006131  ,
       0.9269334 , 0.9651663 , 0.9853665 , 0.93847907, 0.86686754,
       0.928769  , 0.899169  , 0.9059037 , 0.83986837, 0.88497955,
       0.9039146 , 1.0258886 , 1.0141617 , 1.0315244 , 0.9854141 ,
       0.9910018 , 0.9990447 , 1.0262659 , 0.9324768 , 0.87957096,
       0.9009335 , 0.93092906, 0.90195966, 0.9138181 , 0.9061893 ,
       0.93530273, 0.91099566, 0.90800667, 0.9147588 , 0.87242514,
       0.7976092 , 0.8565123 , 0.83514595, 0.8399612 , 0.8654337 ,
       0.90891576, 0.914436  , 0.8897461 , 0.945513  , 0.9380759 ,
       0.9448748 , 0.9660696 , 1.016566  , 1.0501969 , 0.9938262 ,
       1.0041041 , 0.992018  , 0.95777786, 0.996194  , 0.901206  ,
       0.85909176, 0.87864214, 0.8679844 , 0.86341333, 0.90260816,
       0.85741013, 0.83621   , 0.87957335, 0.9233502 , 1.0027437 ,
       0.98134756, 0.9643125 , 1.0508506 , 0.99773455, 0.98842424,
       0.9592296 , 1.0214744 , 1.0219289 , 1.0494562 , 0.9597461 ,
       0.9733281 , 0.9796548 , 0.99022716, 0.9654086 , 0.85259974,
       0.84246373, 0.9314145 , 0.9574084 , 0.93062824, 0.9544683 ,
       0.9794142 , 1.011024  , 1.0215014 , 0.9359404 , 0.9373388 ,
       1.0018508 , 0.98625433, 0.9917074 , 0.93509597, 0.9372183 ,
       0.96482855, 0.9617256 , 0.93839425, 0.89196205, 0.8403956 ,
       0.91756785, 0.9810247 , 0.990491  , 0.9410072 , 0.8567913 ,
       0.9426582 , 0.8953399 , 0.9109022 , 0.95796144, 0.9312922 ,
       0.89332217, 0.83940643, 0.8538226 , 0.81845987, 0.82693946,
       0.90670896, 0.9019318 , 0.8849904 , 0.91470593, 0.9753471 ,
       0.94381964, 0.91546094, 0.8998273 , 0.9388815 , 0.880041  ,
       0.8642938 , 0.8456551 , 0.9144095 , 0.9426813 , 0.91742736,
       0.9082489 , 0.99159515, 0.99706674, 0.91345966, 0.8823943 ,
       0.8972494 , 0.9474205 , 1.0147963 , 0.9291996 , 0.90872294,
       0.8845746 , 0.929688  , 0.8503934 , 0.8990924 , 0.8897133 ,
       0.8328859 , 0.872803  , 1.000532  , 0.940094  , 1.045053  ,
       0.9189086 , 0.9531603 , 0.9489398 , 0.9013343 , 0.9382842 ,
       1.0007802 , 0.9298544 , 0.91973025, 0.9585036 , 1.0173779 ,
       1.0113848 , 1.0381142 , 1.0691262 , 1.0661263 , 1.0308077 ,
       1.0405313 , 1.0598835 , 0.9520345 , 1.0603733 , 0.8988118 ,
       0.94132596, 0.86948735, 0.8708836 , 0.87087625, 0.9017184 ,
       0.888296  , 0.9508121 , 0.9805729 , 0.9921772 , 0.9790394 ,
       1.0127677 , 0.99226075, 0.96418834, 1.0639899 , 0.97152996,
       1.019537  , 0.9997161 , 0.9421901 , 0.8969784 , 0.913831  ,
       0.87731296, 0.8447745 , 0.83496004, 0.76103073, 0.793619  ,
       0.8332733 , 0.8740714 , 0.87857926, 0.8532195 , 0.94939244,
       0.9824223 , 0.9656675 , 0.9196838 , 0.8528495 , 0.9320764 ,
       0.8890927 , 0.91574997, 0.91636026, 0.9461278 , 0.8742807 ,
       0.89585686, 0.7863358 , 0.77249384, 0.82056916, 0.8555418 ,
       0.93376553, 0.9402601 , 0.9374552 , 1.0040056 , 1.0634979 ,
       1.0135924 , 0.9776915 , 1.0279515 , 1.0174396 , 0.997883  ,
       0.98839784, 1.0070561 , 0.9987864 , 1.0096221 , 0.8564918 ,
       0.86602783, 0.8484022 , 0.8392381 , 0.8115696 , 0.84590304,
       0.8005963 , 0.84647286, 0.79843533, 0.8833694 , 0.89364433,
       0.967121  , 0.94688   , 0.96366155, 0.9597431 , 0.8660201 ,
       0.8795195 , 0.90454215, 0.9327942 , 0.89527273, 0.9126483 ,
       0.92221564, 0.8776704 , 0.8741486 , 0.799379  , 0.84316105,
       0.83102983, 0.8229542 , 0.812924  , 0.8492379 , 0.85238385,
       0.89209473, 0.87584645, 0.90591776, 0.9135362 , 0.9360549 ,
       0.9542859 , 0.96892506, 1.0226552 , 0.93406755, 0.903632  ,
       0.8970048 , 0.90450686, 0.8587853 , 0.9082672 , 0.91717064,
       0.86184806, 0.8528143 , 0.84710914, 0.89235544, 0.92210656,
       0.8672614 , 0.9246727 , 0.91259587, 0.8451816 , 0.8271799 ,
       0.8344028 , 0.852699  , 0.9235298 , 0.9302048 , 0.9670121 ,
       0.9876382 , 0.9588992 , 0.9210684 , 0.9584908 , 0.9537957 ,
       0.8390194 , 0.8252969 , 0.79065347, 0.80611694, 0.81091726,
       0.8384192 , 0.8461354 , 0.8752589 , 0.9435311 , 0.96572655,
       1.0190228 , 1.0022454 , 1.0129642 , 0.9804965 , 0.9871511 ,
       0.9784419 , 0.94371796, 0.97451913, 0.921985  , 0.93968785,
       0.94636524, 0.8603164 , 0.9180777 , 1.0111303 , 0.9930915 ,
       0.9902971 , 0.9459791 , 0.9041041 , 0.9257652 , 0.95170367,
       0.8980592 , 0.86084026, 0.9516283 , 0.85553825, 0.8561014 ,
       0.8651867 , 0.8164592 , 0.87138206, 0.84570944, 0.8486428 ,
       0.7905979 , 0.82572377, 0.7870567 , 0.8145801 , 0.8534898 ,
       0.8833404 , 0.8888211 , 0.9478044 , 0.99548113, 0.9441293 ,
       0.95944476, 0.9517013 , 0.9137855 , 0.9193939 , 0.9096316 ,
       0.9125857 , 0.9411438 , 0.9564794 , 0.9116516 , 0.87367266,
       0.95169604, 0.86328703, 0.85775536, 0.84891784, 0.86974037,
       0.8827907 , 0.7858821 , 0.8150658 , 0.7972263 , 0.75755155,
       0.7695246 , 0.75169784, 0.82712984, 0.7430911 , 0.8437915 ,
       0.7510414 , 0.81450343, 0.83087254, 0.85525405, 0.832942  ,
       0.9136589 , 0.89156306, 0.9224434 , 0.9267965 , 0.9503722 ,
       0.889853  , 0.8757967 , 0.8106183 , 0.8359237 , 0.8397511 ,
       0.7790194 , 0.7556486 , 0.7599356 , 0.74585843, 0.7658924 ,
       0.82779276, 0.8261306 , 0.7993599 , 0.81562436, 0.88744664,
       0.90670455, 0.9309013 , 0.84366894, 0.8606653 , 0.86029387,
       0.88201857, 0.850444  , 0.8367717 , 0.84448355, 0.85320514,
       0.83339894, 0.83904177, 0.7991415 , 0.7898002 , 0.8135115 ,
       0.9171783 , 0.8931988 , 0.9360916 , 0.9523206 , 0.9292934 ,
       0.9822494 , 1.0199095 , 1.00959   , 0.9750713 , 0.9399688 ,
       0.9472966 , 0.8939929 , 0.88492143, 0.85602605, 0.81083626,
       0.81883895, 0.8573226 , 0.91932654, 0.90724266, 0.95767915,
       0.93176615, 0.93006444, 0.90562654, 0.8303896 , 0.8933518 ,
       0.8286923 , 0.7665866 , 0.831486  , 0.77313125, 0.85488087,
       0.8103188 , 0.79720736, 0.83373207, 0.8780301 , 0.81020504,
       0.87358326, 0.81926835, 0.87161374, 0.8486582 , 0.9194393 ,
       0.914079  , 0.9901005 , 0.97630125, 0.9973798 , 0.9879848 ,
       0.9205386 , 0.93182594], dtype=float32)

In [ ]:
foo = np.array([
    [5, 2, 3, 4, 5],
    [1, 2, 3, 4, 5],
    [1, 2, 3, 4, 5]
])

In [ ]:
foo.mean(axis = 0)