### IMPORTS

In [1]:
import ipynb.fs.full.processing as processing
import ipynb.fs.full.features as features
import ipynb.fs.full.training as training
import ipynb.fs.full.analysis as analysis
import ipynb.fs.full.storage as storage

### SERIALIZE THE YAML CONFIG

In [2]:
config = storage.load_config('extra/config.yaml')

In [3]:
config

{'data': 'extra/dataset.csv',
 'model': 'lstm',
 'processing': {'resample': True,
  'time': 'D',
  'aggregate': {'Open': 'first',
   'High': 'max',
   'Low': 'min',
   'Close': 'last',
   'Volume': 'sum'},
  'label': {'from': 'Close', 'shift': 1}},
 'features': {'add': ['SK', 'SD', 'Momentum'],
  'window': 14,
  'filter': ['Close', 'Momentum', 'SD', 'Label']},
 'training': {'epochs': 20, 'batch': 8, 'validation': 25}}

### STEP 1: PROCESS RAW DATA TO DATAFRAME

In [4]:
dataframe = processing.create_dataframe(config)

In [5]:
dataframe.head(5)

                   Open     High      Low    Close        Volume    Label
Date_Timestamp
2010-01-01      1.43327  1.43356  1.43207  1.43335  39761.000053  1.43141
2010-01-03      1.43024  1.43359  1.42951  1.43141   3001.600003  1.44244
2010-01-04      1.43143  1.44556  1.42559  1.44244  80019.400094  1.43634
2010-01-05      1.44238  1.44834  1.43445  1.43634  79887.100067  1.44005
2010-01-06      1.43638  1.44342  1.42807  1.44005  80971.800085  1.43155

### STEP 2: CREATE DATASET BY ADDING FEATURES

In [6]:
dataset = features.add(dataframe, config['features'])

In [7]:
dataset.head(5)

                  Close  Momentum         SD    Label
Date_Timestamp
2010-02-01      1.39200  -0.04649  14.842308  1.39737
2010-02-02      1.39737  -0.03928  13.972612  1.38969
2010-02-03      1.38969  -0.05070  11.302307  1.37395
2010-02-04      1.37395  -0.05393  11.014429  1.36763
2010-02-05      1.36763  -0.04356  11.636518  1.36409

### STEP 3: NORMALIZE & SPLIT DATA FOR TRAINING

In [8]:
data = features.split(dataset, config['model'])

### STEP 4: TRAIN THE REQUESTED MODEL

In [9]:
result = training.start(data, config)

WARNING:tensorflow:From C:\Users\35840\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From C:\Users\35840\Anaconda3\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 1861 samples, validate on 620 samples
Epoch 1/20
1861/1861 [==============================] - 1s 695us/sample - loss: 0.0299 - val_loss: 0.0141
Epoch 2/20
1861/1861 [==============================] - 1s 392us/sample - loss: 0.0063 - val_loss: 0.0075
Epoch 3/20
1861/1861 [==============================] - 1s 396us/sample - loss: 0.0043 - val_loss: 0.0017
Epoch 4/20
1861/1861 [==============================] - 1s 391us/sample - loss: 0.0035 - val_loss: 0.0016
Epoch 5/20
1861/1861 [==============================] - 1s 386us/sample - loss: 0.0032 - val_loss: 0.0043
Epoch 6/20
1861/1861 [==============================] - 1s 387us/sample - loss: 0.0025 - val_loss: 0.0013
Epoch 7/20
1861/1861 [==============================] - 1s 403us/sample - loss: 0.0022 - val_loss: 8.6168e-04
Epoch 8/20
1861/1861 [==============================] - 1s 412us/sample - loss: 0.0021 - val_loss: 7.9685e-04
Epoch 9/20
1861/1861 [==============================] - 1s 409us/sample - loss: 0.0017 - val_loss: 6.6086e-04
Epoch 10/20
1861/1861 [==============================] - 1s 400us/sample - loss: 0.0017 - val_loss: 6.9391e-04
Epoch 11/20
1861/1861 [==============================] - 1s 389us/sample - loss: 0.0015 - val_loss: 0.0013
Epoch 12/20
1861/1861 [==============================] - 1s 386us/sample - loss: 0.0014 - val_loss: 0.0012
Epoch 13/20
1861/1861 [==============================] - 1s 390us/sample - loss: 0.0012 - val_loss: 6.2905e-04
Epoch 14/20
1861/1861 [==============================] - 1s 398us/sample - loss: 0.0012 - val_loss: 0.0018
Epoch 15/20
1861/1861 [==============================] - 1s 397us/sample - loss: 0.0011 - val_loss: 6.1809e-04
Epoch 16/20
1861/1861 [==============================] - 1s 397us/sample - loss: 0.0011 - val_loss: 6.3575e-04
Epoch 17/20
1861/1861 [==============================] - 1s 397us/sample - loss: 0.0011 - val_loss: 5.7393e-04
Epoch 18/20
1861/1861 [==============================] - 1s 400us/sample - loss: 0.0010 - val_loss: 5.8863e-04
Epoch 19/20
1861/1861 [==============================] - 1s 393us/sample - loss: 9.9206e-04 - val_loss: 0.0014
Epoch 20/20
1861/1861 [==============================] - 1s 396us/sample - loss: 9.6606e-04 - val_loss: 6.6306e-04

### STEP 5: SAVE THE MODEL & OTHER RELATED DATA

In [10]:
storage.save_result(result, config)