In [15]:
import ipynb.fs.full.training as training
import ipynb.fs.full.storage as storage

In [19]:
from sklearn.metrics import classification_report

### SETTINGS

In [3]:
config = storage.load_yaml('extra/config.yaml')

In [4]:
settings = config['classification_ensemble']['models'][0]['randforest']

In [17]:
settings

{'grid_search': {'n_estimators': [10, 50, 100, 300],
  'max_features': ['log2', 'sqrt'],
  'max_depth': [10, 100, 'None'],
  'min_samples_split': [3, 10],
  'min_samples_leaf': [2, 4],
  'bootstrap': [True, False],
  'class_weight': ['balanced']}}

### DATASETS

In [ ]:
train_dataframe = storage.load_pickle('extra/cls-train.pickle')

In [6]:
train_dataframe.head(5)

   linreg_0    lstm_1     tcn_2  label
0  1.415416  1.301980  1.224463      2
1  1.411079  1.300601  1.213146      1
2  1.419329  1.302802  1.243630      1
3  1.433976  1.311089  1.232483      2
4  1.422778  1.300162  1.303657      1

In [7]:
train_dataset = {
    'features': train_dataframe[['linreg_0', 'lstm_1', 'tcn_2']].to_numpy(),
    'labels': train_dataframe['label'].to_numpy()
}

In [11]:
test_dataframe = storage.load_pickle('extra/cls-test.pickle')

In [16]:
test_dataframe.head(5)

   linreg_0    lstm_1     tcn_2  label
0  1.196712  1.109567  1.152076      2
1  1.200233  1.108629  1.173346      1
2  1.208944  1.115733  1.172701      1
3  1.220008  1.123555  1.179854      2
4  1.218342  1.142114  1.250941      1

In [12]:
test_dataset = {
    'features': test_dataframe[['linreg_0', 'lstm_1', 'tcn_2']].to_numpy(),
    'labels': test_dataframe['label'].to_numpy()
}

### TRAIN RANDOM FOREST

In [8]:
model = training.start(train_dataset, 'randforest_0', settings)

0.221256038647343

### TRAINING REPORT

In [9]:
train_predictions = model.predict(train_dataset)

In [10]:
print(classification_report(train_dataset['labels'], train_predictions))

              precision    recall  f1-score   support

           0       0.87      0.89      0.88       517
           1       0.84      0.89      0.86       517
           2       0.93      0.89      0.91      1036

    accuracy                           0.89      2070
   macro avg       0.88      0.89      0.89      2070
weighted avg       0.89      0.89      0.89      2070

### TESTING REPORT

In [13]:
test_predictions = model.predict(test_dataset)

In [14]:
print(classification_report(test_dataset['labels'], test_predictions))

              precision    recall  f1-score   support

           0       0.13      0.18      0.15       119
           1       0.18      0.23      0.20       114
           2       0.61      0.49      0.54       385

    accuracy                           0.38       618
   macro avg       0.31      0.30      0.30       618
weighted avg       0.44      0.38      0.41       618