In [ ]:
import ipynb.fs.full.training as training
import pandas as pd
import numpy as np

### PROCESSING

In [ ]:
def process(src):
    return pd.read_csv(src, delimiter=',', parse_dates=[["Date", "Timestamp"]])

In [ ]:
foo = process('extra/dataset.csv')

In [93]:
foo.head(5)

       Date_Timestamp     Open     High      Low    Close     Volume
0 2010-01-01 11:00:00  1.43327  1.43335  1.43319  1.43335  56.299999
1 2010-01-01 11:01:00  1.43333  1.43333  1.43318  1.43327  82.100001
2 2010-01-01 11:02:00  1.43328  1.43333  1.43319  1.43333  86.900000
3 2010-01-01 11:03:00  1.43325  1.43333  1.43319  1.43326  68.899999
4 2010-01-01 11:04:00  1.43326  1.43333  1.43319  1.43319  45.300000

In [95]:
foo = foo.set_index('Date_Timestamp')

In [96]:
foo['label'] = np.random.choice(['buy', 'sell', 'hold'], foo.shape[0])

In [97]:
foo.head(5)

                        Open     High      Low    Close     Volume label
Date_Timestamp
2010-01-01 11:00:00  1.43327  1.43335  1.43319  1.43335  56.299999   buy
2010-01-01 11:01:00  1.43333  1.43333  1.43318  1.43327  82.100001   buy
2010-01-01 11:02:00  1.43328  1.43333  1.43319  1.43333  86.900000  hold
2010-01-01 11:03:00  1.43325  1.43333  1.43319  1.43326  68.899999   buy
2010-01-01 11:04:00  1.43326  1.43333  1.43319  1.43319  45.300000   buy

### SPLITTING

In [98]:
features = foo[['Open', 'High', 'Low', 'Close', 'Volume']].to_numpy()

In [99]:
labels = foo['label'].to_numpy()

In [100]:
from sklearn.model_selection import TimeSeriesSplit

In [106]:
x_train, x_test, y_train, y_test = [], [], [], []

In [107]:
tss = TimeSeriesSplit(n_splits=5)
for train_index, test_index in tss.split(features):
    x_train, x_test = features[train_index], features[test_index]
    y_train, y_test = labels[train_index], labels[test_index]

In [108]:
from sklearn.preprocessing import MinMaxScaler

In [109]:
# INSTANTIATE NORMALIZER
scaler = MinMaxScaler(feature_range=(0, 1))

# FIT NORMALIZER WITH TRAIN DATA, THEN TRANSFORM TEST DATA
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

### TRAIN

In [119]:
from sklearn.svm import LinearSVC, SVC

In [ ]:
model = SVC(kernel='linear', decision_function_shape='ovr')
model.fit(x_train, y_train)

In [ ]:
model.score(x_test, y_test)

In [ ]:
predictions = model.predict(x_test)

In [ ]:
predictions[:500]

In [118]:
y_test[:500]

array(['hold', 'buy', 'buy', 'buy', 'buy', 'buy', 'hold', 'buy', 'buy',
       'sell', 'buy', 'buy', 'buy', 'sell', 'sell', 'sell', 'hold',
       'sell', 'buy', 'hold', 'sell', 'buy', 'buy', 'sell', 'sell',
       'sell', 'hold', 'sell', 'buy', 'buy', 'buy', 'hold', 'buy', 'sell',
       'hold', 'hold', 'buy', 'sell', 'sell', 'hold', 'buy', 'hold',
       'sell', 'sell', 'sell', 'buy', 'sell', 'hold', 'sell', 'buy',
       'sell', 'buy', 'hold', 'buy', 'sell', 'buy', 'hold', 'buy', 'buy',
       'hold', 'buy', 'buy', 'hold', 'sell', 'hold', 'sell', 'sell',
       'sell', 'buy', 'hold', 'hold', 'hold', 'buy', 'sell', 'buy',
       'sell', 'sell', 'buy', 'sell', 'sell', 'buy', 'buy', 'hold', 'buy',
       'buy', 'sell', 'buy', 'sell', 'buy', 'hold', 'hold', 'buy', 'hold',
       'buy', 'hold', 'buy', 'sell', 'buy', 'hold', 'hold', 'buy', 'sell',
       'buy', 'buy', 'buy', 'sell', 'hold', 'hold', 'sell', 'sell',
       'sell', 'hold', 'sell', 'hold', 'sell', 'sell', 'buy', 'sell',
       'sell', 'buy', 'buy', 'sell', 'buy', 'sell', 'hold', 'sell',
       'sell', 'hold', 'hold', 'hold', 'hold', 'buy', 'hold', 'buy',
       'hold', 'buy', 'buy', 'sell', 'hold', 'buy', 'hold', 'sell',
       'sell', 'buy', 'buy', 'buy', 'hold', 'buy', 'sell', 'sell', 'hold',
       'hold', 'buy', 'sell', 'buy', 'buy', 'sell', 'hold', 'hold',
       'sell', 'buy', 'sell', 'hold', 'buy', 'sell', 'buy', 'buy', 'sell',
       'sell', 'hold', 'hold', 'hold', 'hold', 'sell', 'hold', 'hold',
       'buy', 'sell', 'buy', 'buy', 'sell', 'sell', 'hold', 'buy', 'buy',
       'hold', 'buy', 'sell', 'buy', 'hold', 'hold', 'sell', 'buy', 'buy',
       'buy', 'sell', 'sell', 'buy', 'hold', 'hold', 'sell', 'buy',
       'hold', 'buy', 'buy', 'buy', 'buy', 'sell', 'sell', 'sell', 'buy',
       'buy', 'hold', 'buy', 'hold', 'hold', 'hold', 'buy', 'hold',
       'sell', 'hold', 'hold', 'hold', 'buy', 'sell', 'hold', 'buy',
       'buy', 'hold', 'hold', 'buy', 'hold', 'buy', 'hold', 'buy', 'sell',
       'hold', 'buy', 'hold', 'hold', 'sell', 'sell', 'sell', 'sell',
       'hold', 'sell', 'sell', 'hold', 'hold', 'buy', 'sell', 'hold',
       'buy', 'hold', 'buy', 'hold', 'hold', 'buy', 'sell', 'hold',
       'hold', 'buy', 'sell', 'hold', 'buy', 'sell', 'hold', 'sell',
       'sell', 'buy', 'hold', 'buy', 'buy', 'sell', 'sell', 'buy', 'hold',
       'buy', 'buy', 'hold', 'sell', 'buy', 'buy', 'buy', 'hold', 'hold',
       'sell', 'hold', 'buy', 'sell', 'sell', 'sell', 'hold', 'hold',
       'buy', 'buy', 'hold', 'buy', 'buy', 'buy', 'buy', 'hold', 'sell',
       'sell', 'hold', 'sell', 'hold', 'hold', 'buy', 'hold', 'sell',
       'hold', 'buy', 'buy', 'hold', 'buy', 'sell', 'sell', 'sell', 'buy',
       'sell', 'sell', 'buy', 'sell', 'hold', 'sell', 'hold', 'sell',
       'sell', 'buy', 'sell', 'hold', 'buy', 'hold', 'sell', 'sell',
       'sell', 'sell', 'sell', 'buy', 'sell', 'hold', 'hold', 'sell',
       'hold', 'sell', 'buy', 'buy', 'sell', 'buy', 'buy', 'hold', 'buy',
       'buy', 'buy', 'buy', 'hold', 'hold', 'buy', 'sell', 'sell', 'buy',
       'buy', 'buy', 'sell', 'hold', 'buy', 'sell', 'sell', 'sell',
       'sell', 'hold', 'sell', 'hold', 'sell', 'hold', 'sell', 'sell',
       'sell', 'buy', 'buy', 'sell', 'hold', 'hold', 'hold', 'hold',
       'sell', 'buy', 'sell', 'sell', 'sell', 'sell', 'buy', 'sell',
       'sell', 'hold', 'sell', 'hold', 'hold', 'sell', 'buy', 'buy',
       'hold', 'buy', 'hold', 'buy', 'buy', 'sell', 'sell', 'sell',
       'sell', 'hold', 'sell', 'sell', 'sell', 'hold', 'hold', 'buy',
       'buy', 'hold', 'buy', 'buy', 'buy', 'sell', 'hold', 'buy', 'sell',
       'hold', 'sell', 'hold', 'hold', 'sell', 'hold', 'buy', 'buy',
       'sell', 'buy', 'hold', 'sell', 'buy', 'sell', 'buy', 'sell',
       'sell', 'buy', 'buy', 'buy', 'sell', 'hold', 'hold', 'sell',
       'sell', 'buy', 'sell', 'sell', 'hold', 'hold', 'hold', 'sell',
       'sell', 'buy', 'sell', 'sell', 'buy', 'buy', 'hold', 'hold', 'buy',
       'sell', 'sell', 'sell', 'buy', 'sell', 'buy', 'hold', 'sell',
       'sell', 'buy', 'buy', 'hold', 'hold', 'hold', 'buy', 'sell',
       'sell', 'hold', 'sell', 'sell', 'sell', 'sell', 'sell', 'buy',
       'sell', 'sell', 'buy', 'sell', 'buy', 'buy', 'buy', 'buy'],
      dtype=object)