### IMPORTS

In [1]:
import ipynb.fs.full.processing as processing
import ipynb.fs.full.training as training
import ipynb.fs.full.storage as storage
import ipynb.fs.full.misc as misc
import ipynb.fs.full.splitting as splitting
import ipynb.fs.full.features as features
import ipynb.fs.full.ensemble as ensemble

In [2]:
import json
from sklearn.metrics import confusion_matrix

### SERIALIZE THE YAML CONFIG

In [3]:
config = storage.load_yaml('extra/config.yaml')

In [4]:
config

{'data': 'extra/dataset.csv',
 'processing': {'resample': True,
  'time': 'D',
  'aggregate': {'Open': 'first',
   'High': 'max',
   'Low': 'min',
   'Close': 'last',
   'Volume': 'sum'},
  'label': {'from': 'Close', 'shift': 1}},
 'features': {'category': 'all', 'window': 14},
 'splitting': {'train_split': 0.8, 'validation_folds': 5},
 'regression_ensemble': {'models': [{'linreg': None},
   {'lstm': {'morph': {'window': 4, 'batch': 30},
     'layers': [{'lstm': {'units': 120}},
      {'dropout': {'rate': 0.15}},
      {'dense': {'units': 50, 'activation': 'relu'}},
      {'dense': {'units': 1}}],
     'epochs': 15,
     'loss': 'mean_squared_error',
     'optimizer': 'rmsprop'}},
   {'tcn': {'morph': {'window': 4, 'batch': 30},
     'layers': [{'tcn': {'nb_filters': 64,
        'nb_stacks': 1,
        'dilations': [1, 2, 4, 8, 16, 32],
        'padding': 'causal',
        'use_skip_connections': False,
        'dropout_rate': 0.1,
        'return_sequences': False}},
      {'dropout': {'rate': 0.05}},
      {'dense': {'units': 50, 'activation': 'relu'}},
      {'dense': {'units': 1}}],
     'epochs': 15,
     'loss': 'mean_squared_error',
     'optimizer': 'adam'}}]},
 'classification_ensemble': {'decision': {'upper': 0.75, 'lower': 0.25},
  'models': [{'randforest': {'grid_search': {'n_estimators': [10,
       50,
       100,
       300],
      'max_features': ['log2', 'sqrt'],
      'max_depth': [10, 100, 'None'],
      'min_samples_split': [3, 10],
      'min_samples_leaf': [2, 4],
      'bootstrap': [True, False],
      'class_weight': ['balanced']}}},
   {'logreg': {'static': {'random_state': 0, 'class_weight': 'balanced'}}},
   {'svc': {'static': {'decision_function_shape': 'ovo'},
     'grid_search': {'kernel': ['linear', 'rbf'], 'C': [1, 150]}}}]}}

### STEP 1: PROCESS RAW DATA TO DATAFRAME

In [5]:
dataframe = processing.create_dataframe(config)

In [6]:
dataframe.head(5)

                   Open     High      Low    Close        Volume    label
Date_Timestamp
2010-01-01      1.43327  1.43356  1.43207  1.43335  39761.000053  1.43141
2010-01-03      1.43024  1.43359  1.42951  1.43141   3001.600003  1.44244
2010-01-04      1.43143  1.44556  1.42559  1.44244  80019.400094  1.43634
2010-01-05      1.44238  1.44834  1.43445  1.43634  79887.100067  1.44005
2010-01-06      1.43638  1.44342  1.42807  1.44005  80971.800085  1.43155

### STEP 2: ADD FEATURES TO DATAFRAME

In [7]:
regression_dataset = features.add(dataframe, config['features'])

In [8]:
regression_dataset.head(5)

,open,high,low,close,volume,label,stock,stocd,stocsd,momentum,...,rsi,obv,ma,bias6,psy12,asy5,asy4,asy3,asy2,asy1
Date_Timestamp,,,,,,,,,,,,,,,,,,,,,
2010-01-21,1.41115,1.41422,1.40247,1.40979,78980.100041,1.41361,13.189189,9.578919,19.849579,-0.02655,...,29.873956,-159980.600046,1.425180,-0.012336,41.7,-0.403064,-0.471831,-0.715772,-0.637503,-0.099256
2010-01-22,1.40977,1.41805,1.40837,1.41361,76660.300037,1.41517,20.072072,13.339429,14.445538,-0.02644,...,33.983332,-83320.300009,1.420572,-0.006774,41.7,-0.323346,-0.469180,-0.334804,0.085670,0.270596
2010-01-24,1.41557,1.41705,1.41396,1.41517,3128.600004,1.41458,22.882883,18.714715,13.877688,-0.01638,...,35.641946,-80191.700005,1.415528,-0.003171,33.3,-0.353285,-0.223529,0.093878,0.190445,0.110295
2010-01-25,1.41498,1.41939,1.41248,1.41458,79577.200048,1.40808,21.819820,21.591592,17.881912,-0.02625,...,35.280916,-159768.900053,1.412868,-0.000558,33.3,-0.187163,0.059984,0.113064,0.034298,-0.041700
2010-01-26,1.41454,1.41780,1.40397,1.40808,79232.600053,1.40280,10.108108,18.270270,19.525526,-0.03823,...,31.495786,-239001.500106,1.412246,-0.002826,25.0,-0.044125,-0.030342,-0.130655,-0.251130,-0.460559

### STEP 3: SPLIT PRIMARY DATA INTO TRAIN & TEST SECTIONS

In [9]:
primary_dataset = splitting.general(
    regression_dataset,
    config['splitting']['train_split']
)

### STEP 4: CREATE CROSS VALIDATION FOLDS & TRAIN REGRESSION MODELS

In [10]:
regression_ensemble, regression_table = ensemble.regression(primary_dataset, config)

TRAINING LINREG_0 FOLD #1
TRAINING LINREG_0 FOLD #2
TRAINING LINREG_0 FOLD #3
TRAINING LINREG_0 FOLD #4
TRAINING LINREG_0 FOLD #5

TRAINING LSTM_1 FOLD #1
Epoch 1/15
14/14 [==============================] - 0s 19ms/step - loss: 0.2636 - mean_squared_error: 0.2636
Epoch 2/15
14/14 [==============================] - 0s 20ms/step - loss: 0.0353 - mean_squared_error: 0.0353
Epoch 3/15
14/14 [==============================] - 0s 21ms/step - loss: 0.0325 - mean_squared_error: 0.0325
Epoch 4/15
14/14 [==============================] - 0s 20ms/step - loss: 0.0158 - mean_squared_error: 0.0158
Epoch 5/15
14/14 [==============================] - 0s 20ms/step - loss: 0.0254 - mean_squared_error: 0.0254
Epoch 6/15
14/14 [==============================] - 0s 20ms/step - loss: 0.0186 - mean_squared_error: 0.0186
Epoch 7/15
14/14 [==============================] - 0s 20ms/step - loss: 0.0109 - mean_squared_error: 0.0109
Epoch 8/15
14/14 [==============================] - 0s 19ms/step - loss: 0.0154 - mean_squared_error: 0.0154
Epoch 9/15
14/14 [==============================] - 0s 20ms/step - loss: 0.0139 - mean_squared_error: 0.0139
Epoch 10/15
14/14 [==============================] - 0s 19ms/step - loss: 0.0168 - mean_squared_error: 0.0168
Epoch 11/15
14/14 [==============================] - 0s 20ms/step - loss: 0.0130 - mean_squared_error: 0.0130
Epoch 12/15
14/14 [==============================] - 0s 19ms/step - loss: 0.0135 - mean_squared_error: 0.0135
Epoch 13/15
14/14 [==============================] - 0s 19ms/step - loss: 0.0101 - mean_squared_error: 0.0101
Epoch 14/15
14/14 [==============================] - 0s 19ms/step - loss: 0.0122 - mean_squared_error: 0.0122
Epoch 15/15
14/14 [==============================] - 0s 21ms/step - loss: 0.0092 - mean_squared_error: 0.0092
TRAINING LSTM_1 FOLD #2
Epoch 1/15
28/28 [==============================] - 1s 20ms/step - loss: 0.1280 - mean_squared_error: 0.1280
Epoch 2/15
28/28 [==============================] - 1s 21ms/step - loss: 0.0244 - mean_squared_error: 0.0244
Epoch 3/15
28/28 [==============================] - 1s 20ms/step - loss: 0.0164 - mean_squared_error: 0.0164
Epoch 4/15
28/28 [==============================] - 1s 20ms/step - loss: 0.0172 - mean_squared_error: 0.0172 0s - loss: 0.0293 - mean_squ
Epoch 5/15
28/28 [==============================] - 1s 20ms/step - loss: 0.0151 - mean_squared_error: 0.0151
Epoch 6/15
28/28 [==============================] - 1s 20ms/step - loss: 0.0122 - mean_squared_error: 0.0122
Epoch 7/15
28/28 [==============================] - 1s 21ms/step - loss: 0.0121 - mean_squared_error: 0.0121
Epoch 8/15
28/28 [==============================] - 1s 21ms/step - loss: 0.0101 - mean_squared_error: 0.0101
Epoch 9/15
28/28 [==============================] - 1s 21ms/step - loss: 0.0101 - mean_squared_error: 0.0101
Epoch 10/15
28/28 [==============================] - 1s 21ms/step - loss: 0.0097 - mean_squared_error: 0.0097
Epoch 11/15
28/28 [==============================] - 1s 21ms/step - loss: 0.0089 - mean_squared_error: 0.0089
Epoch 12/15
28/28 [==============================] - 1s 20ms/step - loss: 0.0089 - mean_squared_error: 0.0089
Epoch 13/15
28/28 [==============================] - 1s 21ms/step - loss: 0.0078 - mean_squared_error: 0.0078
Epoch 14/15
28/28 [==============================] - 1s 20ms/step - loss: 0.0071 - mean_squared_error: 0.0071
Epoch 15/15
28/28 [==============================] - 1s 20ms/step - loss: 0.0074 - mean_squared_error: 0.0074
TRAINING LSTM_1 FOLD #3
Epoch 1/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0859 - mean_squared_error: 0.0859
Epoch 2/15
42/42 [==============================] - 1s 21ms/step - loss: 0.0199 - mean_squared_error: 0.0199
Epoch 3/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0148 - mean_squared_error: 0.0148
Epoch 4/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0114 - mean_squared_error: 0.0114
Epoch 5/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0118 - mean_squared_error: 0.0118
Epoch 6/15
42/42 [==============================] - 1s 21ms/step - loss: 0.0100 - mean_squared_error: 0.0100
Epoch 7/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0094 - mean_squared_error: 0.0094
Epoch 8/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0077 - mean_squared_error: 0.0077
Epoch 9/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0076 - mean_squared_error: 0.0076
Epoch 10/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0067 - mean_squared_error: 0.0067
Epoch 11/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0065 - mean_squared_error: 0.0065
Epoch 12/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0063 - mean_squared_error: 0.0063
Epoch 13/15
42/42 [==============================] - 1s 21ms/step - loss: 0.0062 - mean_squared_error: 0.0062
Epoch 14/15
42/42 [==============================] - 1s 21ms/step - loss: 0.0059 - mean_squared_error: 0.0059
Epoch 15/15
42/42 [==============================] - 1s 20ms/step - loss: 0.0056 - mean_squared_error: 0.0056
TRAINING LSTM_1 FOLD #4
Epoch 1/15
56/56 [==============================] - 1s 23ms/step - loss: 0.0911 - mean_squared_error: 0.0911
Epoch 2/15
56/56 [==============================] - 1s 22ms/step - loss: 0.0154 - mean_squared_error: 0.0154
Epoch 3/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0116 - mean_squared_error: 0.0116
Epoch 4/15
56/56 [==============================] - 1s 20ms/step - loss: 0.0102 - mean_squared_error: 0.0102
Epoch 5/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0093 - mean_squared_error: 0.0093 0s - loss: 0.0098 - mean_squar
Epoch 6/15
56/56 [==============================] - 1s 20ms/step - loss: 0.0085 - mean_squared_error: 0.0085
Epoch 7/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0070 - mean_squared_error: 0.0070
Epoch 8/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0074 - mean_squared_error: 0.0074 0s - loss: 0.007
Epoch 9/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0066 - mean_squared_error: 0.0066
Epoch 10/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0063 - mean_squared_error: 0.0063
Epoch 11/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0057 - mean_squared_error: 0.0057
Epoch 12/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0056 - mean_squared_error: 0.0056
Epoch 13/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0049 - mean_squared_error: 0.0049
Epoch 14/15
56/56 [==============================] - 1s 20ms/step - loss: 0.0049 - mean_squared_error: 0.0049
Epoch 15/15
56/56 [==============================] - 1s 21ms/step - loss: 0.0048 - mean_squared_error: 0.0048
TRAINING LSTM_1 FOLD #5
Epoch 1/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0761 - mean_squared_error: 0.0761
Epoch 2/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0136 - mean_squared_error: 0.0136
Epoch 3/15
69/69 [==============================] - 1s 22ms/step - loss: 0.0106 - mean_squared_error: 0.0106
Epoch 4/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0089 - mean_squared_error: 0.0089
Epoch 5/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0080 - mean_squared_error: 0.0080
Epoch 6/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0069 - mean_squared_error: 0.0069
Epoch 7/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0069 - mean_squared_error: 0.0069
Epoch 8/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0063 - mean_squared_error: 0.0063
Epoch 9/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0057 - mean_squared_error: 0.0057
Epoch 10/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0051 - mean_squared_error: 0.0051
Epoch 11/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0049 - mean_squared_error: 0.0049 0s - loss: 0.0048 - mean_s
Epoch 12/15

69/69 [==============================] - 1s 21ms/step - loss: 0.0047 - mean_squared_error: 0.0047
Epoch 13/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0042 - mean_squared_error: 0.0042
Epoch 14/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0044 - mean_squared_error: 0.0044
Epoch 15/15
69/69 [==============================] - 1s 21ms/step - loss: 0.0039 - mean_squared_error: 0.0039

TRAINING TCN_2 FOLD #1
Epoch 1/15
14/14 [==============================] - 0s 4ms/step - loss: 1.5484 - mean_squared_error: 1.5484
Epoch 2/15
14/14 [==============================] - 0s 4ms/step - loss: 0.2158 - mean_squared_error: 0.2158
Epoch 3/15
14/14 [==============================] - 0s 4ms/step - loss: 0.1184 - mean_squared_error: 0.1184
Epoch 4/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0782 - mean_squared_error: 0.0782
Epoch 5/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0691 - mean_squared_error: 0.0691
Epoch 6/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0559 - mean_squared_error: 0.0559
Epoch 7/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0462 - mean_squared_error: 0.0462
Epoch 8/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0465 - mean_squared_error: 0.0465
Epoch 9/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0398 - mean_squared_error: 0.0398
Epoch 10/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0346 - mean_squared_error: 0.0346
Epoch 11/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0332 - mean_squared_error: 0.0332
Epoch 12/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0331 - mean_squared_error: 0.0331
Epoch 13/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0329 - mean_squared_error: 0.0329
Epoch 14/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0247 - mean_squared_error: 0.0247
Epoch 15/15
14/14 [==============================] - 0s 4ms/step - loss: 0.0235 - mean_squared_error: 0.0235
TRAINING TCN_2 FOLD #2
Epoch 1/15
28/28 [==============================] - 0s 4ms/step - loss: 10.6659 - mean_squared_error: 10.6659
Epoch 2/15
28/28 [==============================] - 0s 4ms/step - loss: 0.3189 - mean_squared_error: 0.3189
Epoch 3/15
28/28 [==============================] - 0s 4ms/step - loss: 0.2130 - mean_squared_error: 0.2130
Epoch 4/15
28/28 [==============================] - 0s 4ms/step - loss: 0.1639 - mean_squared_error: 0.1639
Epoch 5/15
28/28 [==============================] - 0s 4ms/step - loss: 0.1475 - mean_squared_error: 0.1475
Epoch 6/15
28/28 [==============================] - 0s 4ms/step - loss: 0.1199 - mean_squared_error: 0.1199
Epoch 7/15
28/28 [==============================] - 0s 4ms/step - loss: 0.1043 - mean_squared_error: 0.1043
Epoch 8/15
28/28 [==============================] - 0s 4ms/step - loss: 0.0882 - mean_squared_error: 0.0882
Epoch 9/15
28/28 [==============================] - 0s 4ms/step - loss: 0.0762 - mean_squared_error: 0.0762
Epoch 10/15
28/28 [==============================] - 0s 4ms/step - loss: 0.0619 - mean_squared_error: 0.0619
Epoch 11/15
28/28 [==============================] - 0s 4ms/step - loss: 0.0568 - mean_squared_error: 0.0568
Epoch 12/15
28/28 [==============================] - 0s 4ms/step - loss: 0.0454 - mean_squared_error: 0.0454
Epoch 13/15
28/28 [==============================] - 0s 4ms/step - loss: 0.0398 - mean_squared_error: 0.0398
Epoch 14/15
28/28 [==============================] - 0s 4ms/step - loss: 0.0393 - mean_squared_error: 0.0393
Epoch 15/15
28/28 [==============================] - 0s 4ms/step - loss: 0.0357 - mean_squared_error: 0.0357
TRAINING TCN_2 FOLD #3
Epoch 1/15
42/42 [==============================] - 0s 4ms/step - loss: 2.3648 - mean_squared_error: 2.3648
Epoch 2/15
42/42 [==============================] - 0s 4ms/step - loss: 0.1046 - mean_squared_error: 0.1046
Epoch 3/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0687 - mean_squared_error: 0.0687
Epoch 4/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0534 - mean_squared_error: 0.0534
Epoch 5/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0423 - mean_squared_error: 0.0423
Epoch 6/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0346 - mean_squared_error: 0.0346
Epoch 7/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0302 - mean_squared_error: 0.0302
Epoch 8/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0255 - mean_squared_error: 0.0255
Epoch 9/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0226 - mean_squared_error: 0.0226
Epoch 10/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0206 - mean_squared_error: 0.0206
Epoch 11/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0197 - mean_squared_error: 0.0197
Epoch 12/15
42/42 [==============================] - 0s 5ms/step - loss: 0.0179 - mean_squared_error: 0.0179
Epoch 13/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0171 - mean_squared_error: 0.0171
Epoch 14/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0143 - mean_squared_error: 0.0143
Epoch 15/15
42/42 [==============================] - 0s 4ms/step - loss: 0.0132 - mean_squared_error: 0.0132
TRAINING TCN_2 FOLD #4
Epoch 1/15
56/56 [==============================] - 0s 4ms/step - loss: 1.0674 - mean_squared_error: 1.0674
Epoch 2/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0812 - mean_squared_error: 0.0812
Epoch 3/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0559 - mean_squared_error: 0.0559
Epoch 4/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0400 - mean_squared_error: 0.0400
Epoch 5/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0289 - mean_squared_error: 0.0289
Epoch 6/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0223 - mean_squared_error: 0.0223
Epoch 7/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0214 - mean_squared_error: 0.0214
Epoch 8/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0170 - mean_squared_error: 0.0170
Epoch 9/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0173 - mean_squared_error: 0.0173
Epoch 10/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0131 - mean_squared_error: 0.0131
Epoch 11/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0128 - mean_squared_error: 0.0128
Epoch 12/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0115 - mean_squared_error: 0.0115
Epoch 13/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0101 - mean_squared_error: 0.0101
Epoch 14/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0094 - mean_squared_error: 0.0094
Epoch 15/15
56/56 [==============================] - 0s 4ms/step - loss: 0.0092 - mean_squared_error: 0.0092
TRAINING TCN_2 FOLD #5
Epoch 1/15
69/69 [==============================] - 0s 5ms/step - loss: 0.7163 - mean_squared_error: 0.7163
Epoch 2/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0734 - mean_squared_error: 0.0734
Epoch 3/15
69/69 [==============================] - 0s 5ms/step - loss: 0.0413 - mean_squared_error: 0.0413
Epoch 4/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0299 - mean_squared_error: 0.0299: 0s - loss: 0.0314 - mean_squared_error
Epoch 5/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0212 - mean_squared_error: 0.0212
Epoch 6/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0171 - mean_squared_error: 0.0171
Epoch 7/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0149 - mean_squared_error: 0.0149
Epoch 8/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0126 - mean_squared_error: 0.0126
Epoch 9/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0116 - mean_squared_error: 0.0116
Epoch 10/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0093 - mean_squared_error: 0.0093
Epoch 11/15

69/69 [==============================] - 0s 4ms/step - loss: 0.0079 - mean_squared_error: 0.0079
Epoch 12/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0075 - mean_squared_error: 0.0075
Epoch 13/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0064 - mean_squared_error: 0.0064
Epoch 14/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0059 - mean_squared_error: 0.0059
Epoch 15/15
69/69 [==============================] - 0s 4ms/step - loss: 0.0058 - mean_squared_error: 0.0058

In [11]:
regression_table.head(5)

   linreg_0    lstm_1     tcn_2    label
0  1.415414  1.497583  1.362657  1.40686
1  1.411078  1.482281  1.296394  1.41436
2  1.419328  1.490857  1.347305  1.43163
3  1.433976  1.499816  1.321887  1.42894
4  1.422776  1.511457  1.442621  1.43328

### STEP 5: CREATE DECISION MACHINE & PUT LABELS THROUGH IT

In [12]:
decision_machine = misc.decision_machine()

In [13]:
regression_labels = decision_machine.calibrate(
    regression_table,
    config['classification_ensemble']['decision']
)

In [14]:
labeled_regression_table = misc.replace_labels(
    regression_table,
    regression_labels
)

In [15]:
# BUY   = 0
# SELL  = 1
# HOLD  = 2

In [16]:
labeled_regression_table.head(5)

   linreg_0    lstm_1     tcn_2  label
0  1.415414  1.497583  1.362657      2
1  1.411078  1.482281  1.296394      1
2  1.419328  1.490857  1.347305      1
3  1.433976  1.499816  1.321887      2
4  1.422776  1.511457  1.442621      1

### DECISION BREAKDOWN

In [17]:
labeled_regression_table['label'].value_counts(normalize=True)

2    0.500483
1    0.249758
0    0.249758
Name: label, dtype: float64

### STEP 6: TRAIN THE CLASSIFIER ENSEMBLE

In [18]:
classifier_ensemble, classifier_table = ensemble.classifier(labeled_regression_table, config)

TRAINING RANDFOREST_0 MODEL
TRAINING LOGREG_1 MODEL
TRAINING SVC_2 MODEL

In [19]:
classifier_table.head(5)

   randforest_0  logreg_1  svc_2
0             1         0      2
1             1         0      2
2             1         0      2
3             2         0      2
4             1         0      2

### STEP 7: CREATE CONFUSION MATRIX FOR EACH TRAIN PREDICTION

In [20]:
classifier_matrixes = {}

In [21]:
matrix_labels = labeled_regression_table['label'].to_numpy()

In [22]:
for column in classifier_table.columns:
    
    # MODEL PREDICTIONS
    predictions = classifier_table[column].to_numpy()
    
    # CREATE A CONFUSION MATRIX
    matrix = confusion_matrix(
        matrix_labels,
        predictions,
        labels=[0, 1, 2]
    )
    
    # PUSH IT TO THE CONTAINER
    classifier_matrixes[column] = {
        'training': matrix.tolist()
    }

### STEP 8: REGRESSION PREDICT ON TEST DATASET

In [23]:
test_predictions = regression_ensemble.predict(primary_dataset['test'])

In [24]:
test_predictions.head(5)

   linreg_0    lstm_1     tcn_2
0  1.196712  1.208911  1.066639
1  1.200233  1.204826  1.090534
2  1.208944  1.209130  1.073680
3  1.220007  1.215599  1.078803
4  1.218342  1.234251  1.155576

### STEP 9: ADD LABELS TO TEST PREDICTIONS

In [25]:
test_results = test_predictions.copy()

In [26]:
test_results['label'] = primary_dataset['test']['labels'][-len(test_results):]

In [27]:
test_results.head(5)

   linreg_0    lstm_1     tcn_2    label
0  1.196712  1.208911  1.066639  1.19558
1  1.200233  1.204826  1.090534  1.20427
2  1.208944  1.209130  1.073680  1.21993
3  1.220007  1.215599  1.078803  1.21919
4  1.218342  1.234251  1.155576  1.22665

### STEP 10: CLASSIFY PREDICT ON REGRESSION DATASET

In [28]:
mash_dataset = {
    'features': test_predictions.to_numpy(),
    'labels': []
}

In [29]:
cls_dataset = classifier_ensemble.predict(mash_dataset)

### STEP 11: CREATE CONFUSION MATRIX FOR EACH TEST PREDICTION

In [30]:
matrix_labels = decision_machine.convert(test_results)

In [31]:
for column in cls_dataset.columns:
    
    # MODEL PREDICTIONS
    predictions = cls_dataset[column].to_numpy()
    
    # CREATE A CONFUSION MATRIX
    matrix = confusion_matrix(
        matrix_labels,
        predictions,
        labels=[0, 1, 2]
    )
    
    # PUSH IT TO THE MATRIX CONTAINER
    classifier_matrixes[column]['validation'] = matrix.tolist()

### STEP 12: STITCH TOGETHER REGRESSION FITTING METRICS

In [32]:
regression_fitting = {}

In [33]:
for blob in regression_ensemble.models:
    collection = {}
    for index, model in enumerate(blob):
        
        # IF THE SCORE HAS A R2 PROPERTY
        if 'R2' in model.score:
        
            # ADD THE SUB-PROPERTIES IF THEY DONT ALREADY EXIST
            if 'R2' not in collection:
                for key in model.score.keys():
                    collection[key] = {}
                    
            # LOOP IN VALUES
            for key in model.score.keys():
                collection[key]['fold_' + str(index)] = model.score[key]
        
        # OTHERWISE, INJECT NORMALLY
        else:
            collection['fold_' + str(index)] = model.score
        
    regression_fitting[model.name] = collection

### STEP 13: SAVE EVERYTHING

In [34]:
storage.save_pipeline({
    'config': config,
    'regression_ensemble': regression_ensemble,
    'classifier_ensemble': classifier_ensemble,
    'predictions': {
        'regression': {
            'training': json.loads(regression_table.to_json()),
            'validation': json.loads(test_results.to_json())
        },
        'classifiers': classifier_matrixes
    },
    'regression_fitting': regression_fitting
})