In [3]:
import ipynb.fs.full.storage as storage

In [2]:
regression_ensemble, classifier_ensemble = storage.load_pipe('PIPELINE-1603466504')

SERIALIZING REGRESSOR LINREG_0
	FOLD 0
	FOLD 1
	FOLD 2
	FOLD 3
	FOLD 4

SERIALIZING REGRESSOR LSTM_1
	FOLD 0
	FOLD 1
	FOLD 2
	FOLD 3
	FOLD 4

SERIALIZING REGRESSOR TCN_2
	FOLD 0
	FOLD 1
	FOLD 2
	FOLD 3
	FOLD 4

SERIALIZED CLASSIFIER LOGREG_1
SERIALIZED CLASSIFIER RANDFOREST_0
SERIALIZED CLASSIFIER SVC_2

In [3]:
dataset = storage.load_pickle('testset.pickle')

In [17]:
reg_dataset = regression_ensemble.predict(dataset)

In [18]:
reg_dataset.head(10)

   linreg_0    lstm_1     tcn_2
0  1.196712  1.179836  1.071779
1  1.200233  1.175275  1.030341
2  1.208944  1.181336  1.069838
3  1.220008  1.190279  1.101364
4  1.218343  1.211336  1.282041
5  1.225798  1.210853  1.211553
6  1.227252  1.221717  1.287171
7  1.218455  1.229443  1.236892
8  1.224785  1.222726  1.210639
9  1.223785  1.224582  1.175153

In [19]:
mash_dataset = {
    'features': reg_dataset.to_numpy(),
    'labels': []
}

In [20]:
cls_dataset = classifier_ensemble.predict(mash_dataset, show_mean=True)

In [25]:
cls_dataset.head(10)

   logreg_0  svc_1  mean
0         0      2   1.0
1         1      2   1.5
2         1      2   1.5
3         1      2   1.5
4         0      2   1.0
5         0      2   1.0
6         0      2   1.0
7         0      2   1.0
8         0      2   1.0
9         0      2   1.0

In [26]:
cls_dataset['mean'].value_counts(normalize=True)

1.5    0.710356
1.0    0.241100
2.0    0.048544
Name: mean, dtype: float64