### IMPORTS

In [1]:
import ipynb.fs.full.processing as processing
import ipynb.fs.full.features as features
import ipynb.fs.full.training as training
import ipynb.fs.full.analysis as analysis
import ipynb.fs.full.storage as storage

### SERIALIZE THE YAML CONFIG

In [2]:
config = storage.load_config('extra/config.yaml')

In [3]:
config

{'data': 'extra/dataset.csv',
 'processing': {'resample': True,
  'time': 'D',
  'aggregate': {'Open': 'first',
   'High': 'max',
   'Low': 'min',
   'Close': 'last',
   'Volume': 'sum'},
  'label': {'from': 'Close', 'shift': 1}},
 'features': {'add': ['SK', 'SD', 'Momentum'],
  'window': 14,
  'filter': ['Close', 'Momentum', 'SD', 'Label']},
 'ensamble': {'models': [{'linreg': {'split': {'train': 0.8, 'test': 0.2}}},
   {'lstm': {'split': {'train': 0.6, 'test': 0.2, 'validation': 0.2},
     'layers': [{'lstm': {'value': 120, 'activation': 'relu'}},
      {'dropout': {'value': 0.15}},
      {'dense': {'value': 50, 'activation': 'relu'}},
      {'dense': {'value': 1}}],
     'epochs': 20,
     'batch': 8,
     'validation': 25,
     'loss': 'mean_squared_error',
     'optimizer': 'rmsprop'}}],
  'decision': 'mean'}}

### STEP 1: PROCESS RAW DATA TO DATAFRAME

In [4]:
dataframe = processing.create_dataframe(config)

In [5]:
dataframe.head(5)

                   Open     High      Low    Close        Volume    Label
Date_Timestamp
2010-01-01      1.43327  1.43356  1.43207  1.43335  39761.000053  1.43141
2010-01-03      1.43024  1.43359  1.42951  1.43141   3001.600003  1.44244
2010-01-04      1.43143  1.44556  1.42559  1.44244  80019.400094  1.43634
2010-01-05      1.44238  1.44834  1.43445  1.43634  79887.100067  1.44005
2010-01-06      1.43638  1.44342  1.42807  1.44005  80971.800085  1.43155

### STEP 2: ADD FEATURES TO DATAFRAME

In [6]:
dataset = features.add(dataframe, config['features'])

In [7]:
dataset.head(5)

                  Close  Momentum         SD    Label
Date_Timestamp
2010-02-01      1.39200  -0.04649  14.842308  1.39737
2010-02-02      1.39737  -0.03928  13.972612  1.38969
2010-02-03      1.38969  -0.05070  11.302307  1.37395
2010-02-04      1.37395  -0.05393  11.014429  1.36763
2010-02-05      1.36763  -0.04356  11.636518  1.36409

### STEP 3: TRAIN MODEL ENSAMBLE

In [8]:
ensamble = [None] * len(config['ensamble']['models'])

In [9]:
# LOOP THROUGH REQUESTED MOEDLS
for index, item in enumerate(config['ensamble']['models']):
    
    # MODEL PROPS
    name = list(item)[0]
    params = item[name]
    
    # GENERATE FORMATTED, SPLIT & NORMALIZED DATA FOR TRAINING
    data = features.split(dataset, name, params)

    # TRAIN THE MODEL
    result = training.start(data, name, params)
    
    # APPEND IT TO THE ENSAMBLE
    ensamble[index] = {
        'name': name,
        'result': result
    }

WARNING:tensorflow:From C:\Users\35840\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From C:\Users\35840\Anaconda3\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 1861 samples, validate on 620 samples
Epoch 1/20
1861/1861 [==============================] - 1s 659us/sample - loss: 0.0290 - val_loss: 0.0131
Epoch 2/20
1861/1861 [==============================] - 1s 382us/sample - loss: 0.0057 - val_loss: 0.0027
Epoch 3/20
1861/1861 [==============================] - 1s 379us/sample - loss: 0.0046 - val_loss: 0.0021
Epoch 4/20
1861/1861 [==============================] - 1s 378us/sample - loss: 0.0033 - val_loss: 0.0033
Epoch 5/20
1861/1861 [==============================] - 1s 385us/sample - loss: 0.0028 - val_loss: 0.0022
Epoch 6/20
1861/1861 [==============================] - 1s 383us/sample - loss: 0.0025 - val_loss: 0.0014
Epoch 7/20
1861/1861 [==============================] - 1s 377us/sample - loss: 0.0022 - val_loss: 9.5382e-04
Epoch 8/20
1861/1861 [==============================] - 1s 379us/sample - loss: 0.0019 - val_loss: 9.0929e-04
Epoch 9/20
1861/1861 [==============================] - 1s 383us/sample - loss: 0.0018 - val_loss: 5.6939e-04
Epoch 10/20
1861/1861 [==============================] - 1s 395us/sample - loss: 0.0015 - val_loss: 0.0013
Epoch 11/20
1861/1861 [==============================] - 1s 391us/sample - loss: 0.0015 - val_loss: 7.5201e-04
Epoch 12/20
1861/1861 [==============================] - 1s 387us/sample - loss: 0.0013 - val_loss: 5.8746e-04
Epoch 13/20
1861/1861 [==============================] - 1s 385us/sample - loss: 0.0013 - val_loss: 3.4662e-04
Epoch 14/20
1861/1861 [==============================] - 1s 376us/sample - loss: 0.0012 - val_loss: 8.0009e-04
Epoch 15/20
1861/1861 [==============================] - 1s 378us/sample - loss: 0.0011 - val_loss: 3.3693e-04
Epoch 16/20
1861/1861 [==============================] - 1s 384us/sample - loss: 0.0010 - val_loss: 3.7476e-04
Epoch 17/20
1861/1861 [==============================] - 1s 379us/sample - loss: 0.0010 - val_loss: 6.9875e-04
Epoch 18/20
1861/1861 [==============================] - 1s 379us/sample - loss: 9.5024e-04 - val_loss: 5.9271e-04
Epoch 19/20
1861/1861 [==============================] - 1s 378us/sample - loss: 9.5470e-04 - val_loss: 4.8863e-04
Epoch 20/20
1861/1861 [==============================] - 1s 378us/sample - loss: 9.3922e-04 - val_loss: 3.9883e-04

### STEP 4: PREDICT WITH ENSAMBLE USING MEAN

In [36]:
averages = []

In [37]:
predictions = len(ensamble[0]['result']['predictions'])
models = len(ensamble)

In [40]:
# LOOP THROUGH EACH PREDICTION INDEX
for index in range(predictions):
    value = 0
    
    # QUERY EVERY MODELS PREDICTION
    for item in ensamble:
        value += item['result']['predictions'][index]
        
    # CALCULATE THE MEAN VALUE & APPEND
    mean = value / models
    averages.append(mean)

### STEP 5: SAVE ENSAMBLE, PREDICTIONS & BUILD CONFIG